#about{
		text-align:center;
	margin-top:23%;
	margin-left:-13%;
	margin-right:50px;
width:100%;
background-color:#ffff99;
border:2px solid gray;
height:200px;
box-shadow:3px 3px 3px rgba(0,0,0,0.3);

font-weight:bold;
}
#about_info{
	float:left;
	font-size:20px;
}