#etotal{
	padding-top:12%;
	padding-left:27%;
	width:40%;
}
.econtainer{
left:40px;
border:2px solid #9932CC;
padding-bottom: 9%;
}
#record{
    font-size: 18px;
    font-family: Arial rounded mt;
}
#record1{
    color:gray;
   font-family: bookman old style ;
}
.eheader{
text-align:center;
background-color:#9932CC;
color:white;
font-size:22px;
padding:10px 0px 10px 0px;
}
.edetails{
padding:35px 20px 0px 20px;
}
#ei01{
font-size:23px;
}
#ed01
{
height:25px;
padding:7px 0px 6px 7px;
background-color:#F0F0F0;
border:1px solid lightGray;
}
span{
float:right;
font-weight:bold;
padding:4px 9px 0px 0px;
}
#eprev{
position:relative;
bottom:-10px;
color:#00BFFF;
text-decoration:none;
font-size:18px;
}
#enext{
	float:right;
	border:none;
	background-color:#00BFFF;
	width:65px;
	height:33px;
	font-size:17px;
}
#eadd,#eadd1,#eadd2{
font-weight:bold;
font-size:17px;
}
#eb01,#eb02,#eb03,#eb04,#eb05,#eb06{
float:right;
border:none;
background-color:#f0f0f0;
}
