#ugtotal{
	padding-top:11.7%;
	padding-left:30%;
	width:35%;
}
.ugcontainer{
left:40px;
height:75%;
border:2px solid #9932CC;
}
.ugheader{
text-align:center;
background-color:#9932CC;
color:white;
font-size:22px;
padding:10px 0px 10px 0px;
}
.ugdetails{
padding:40px 40px 0px 40px;
}
.uglabel{
	font-size:17px;
}
input{
border:none;
}
.ugclg{
color:lightGray;
width:100%;
padding:5px;
}
.ugclg:focus{
border:1px solid red;
}
#ugs01{
width:47%;
border:none;
}
#ugh01{
width:47%;
float:left;
}
.ugdeg{
position:relative;
top:-83px;
}
.ugstr{
position:relative;
top:-162px;
right:-200px;
}
#ugstr,#ugdeg,#ugom{
padding:5px;
width:47%;
}
.ugom{
position:relative;
top:-140px;
}
.ugmm{
    position: relative;
    top:-207px;
    float:right;
    right:32px;
}

#ugsave{
cursor:pointer;
width:90px;
height:36px;
background-color:#00BFFF;
color:white;
float:right;
border:none;
position:relative;
bottom:-35px;
}
.ugclose{
cursor:pointer;
padding:0px 9px 0px 0px;
float:right;
}
.ugclose:hover{
color:red;
}