#pdtotal{
	display:none;
	padding-top:15%;
	padding-left:27%;
	width:40%;
}
.pdcontainer{
left:40px;
height:390px;
border:2px solid #00bfff;
}
.pdheader{
text-align:center;
background-color:#00bfff;
color:black;
font-size:22px;
padding:10px 0px 10px 0px;
}
.pddetails{
padding:35px 35px 0px 35px;
}
#pddesc{
height:75px;
width:100%;
}
#pdsave{
background-color:skyblue;
float:right;
border:none;
width:75px;
height:40px;
}
#pdi01{
border:none;
padding:3px;
float:left;
font-size:12px;
width:50px;
}

#pdi02,#pdi03{
border:none;
margin-left:18px;
padding:3px;
padding-left:12px;
float:left;
font-size:12px;
width:40%;
}
#pdh01{
padding-left:-10px;
float:left;
width:50px;
}
#pdh02,#pdh03{
float:left;
margin-left:17px;
width:40%;
}
#pdn01{
border:none;
float:left;
width:60px;
padding:3px;
padding-left:17px;
font-size:12px;
}
#pdn02{
width:78%;
border:none;
float:left;
margin-left:17px;
padding:3px;
padding-left:10px;
font-size:12px;
}
#pdh04{
padding-left:10px;
width:79.5%;
float:right;
margin-top:8px;
margin-right:2.5%;
}
#pdh05{
width:60px;
float:left;
margin-right:10%;
margin-top:-10px;
}
#pdc01{
border:none;
width:100%;
padding:3px;
padding-left:17px;
font-size:12px;
}
#pdprev{
position:relative;
color:#00BFFF;
text-decoration:none;
}
#pdnext{
border:none;
color:black;
background-color:#00BFFF;
text-decoration:none;
float:right;
width:68px;
height:35px;
font-weight:bold;
}